<div class="centered-content">
  <div class="dialog">
    <mat-card>
      <mat-card-title> LOGIN </mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>Email:</mat-label>
        <input matInput type="email" placeholder="Enter your email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password:</mat-label>
        <input matInput type="password" placeholder="Enter your password" />
        <mat-icon matSuffix>password</mat-icon>
        <mat-hint>Password must be 8 characters long.</mat-hint>
      </mat-form-field>

      <div class="btn">
        <button mat-raised-button color="primary">SUBMIT</button>
      </div>
    </mat-card>
  </div>
</div>
