<mat-toolbar>
  <h1>TASK MANAGER</h1>
</mat-toolbar>
<div class="centered-content">
  <div class="task-manager">
    <div class="list">
      <mat-card>
        <mat-card-header>
          <mat-card-title>LISTS</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-action-list *ngFor="let list of lists">
            <a mat-list-item [routerLink]="['/lists', list._id]">
              {{ list.title }}
            </a>
          </mat-action-list>
        </mat-card-content>
        <mat-card-actions class="btn">
          <button mat-raised-button color="primary" routerLink="/new-list">
            + LIST
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="task">
      <mat-card>
        <mat-card-header>
          <mat-card-title>TASKS</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-action-list
            *ngFor="let task of tasks"
            (click)="onTaskClick(task)"
            [ngClass]="{ complete: task.complete }"
          >
            <button mat-list-item>
              {{ task.title }}
            </button>
          </mat-action-list>
        </mat-card-content>
        <mat-card-actions class="btn">
          <button mat-mini-fab color="primary" routerLink="./new-task">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
