<div class="centered-content">
  <div class="dialog">
    <mat-card>
      <mat-card-title>NEW TASK</mat-card-title>
      <mat-card-content>
        <div class="align-horizontally">
          <div class="inputField">
            <form action="">
              <mat-form-field appearance="outline">
                <input matInput type="text" />
              </mat-form-field>
            </form>
          </div>
          <div class="btn">
            <button mat-raised-button color="primary">SAVE</button>
            <button mat-raised-button color="warn" mat-dialog-close>
              CANCEL
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
