mat-form-field {
  display: block;
  width: 100%;
}
.btn {
  display: flex;
  justify-content: flex-end;
}
button {
  margin-left: 10px;
}
mat-card-content {
  margin: 0%;
}
mat-card-title {
  margin-bottom: 15px;
}
mat-card {
  width: 70vmin;
}
