<div class="centered-content">
  <div class="dialog">
    <mat-card>
      <mat-card-title>NEW LIST </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <input #inputList matInput type="text" />
        </mat-form-field>
      </mat-card-content>
      <div class="btn">
        <button
          mat-raised-button
          color="primary"
          (click)="createNewList(inputList.value)"
        >
          SAVE
        </button>
        <button mat-raised-button color="warn" routerLink="">CANCEL</button>
      </div>
    </mat-card>
  </div>
</div>
